
.hero-image {
  background-image: url(../images/GraffitiAlley-85-website.jpg);
  background: rgba(39,62,84,0.82);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
