$font-main: sans-serif;
$font-size: 100%;

.hero-image {
  background-image:
    url("../images/GraffitiAlley-85-website.jpg");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about-me-text {
  text-align: center;
  position: absolute;
  margin: 0 auto;
  width: 75vh;
  color: #fff;
}
