// base/_base.scss partial
$font-main: Roboto sans-serif;
$font-size: 100%;

body {
  font-family: Roboto, sans-serif;
  background-color: #f4f4f4;
}

* {
  box-sizing: border-box;
}

a {
  color: #000;
}
